@import 'tailwindcss';
@import 'tw-animate-css';
@import '../styles/generated-typography.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-redhat: var(--font-redhat);
  /* Neutral Palette */
  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f6f7fa;
  --color-neutral-100: #ededf3;
  --color-neutral-200: #e2e5ec;
  --color-neutral-300: #d7dae2;
  --color-neutral-400: #a9aabe;
  --color-neutral-500: #777c88;
  --color-neutral-600: #494d57;
  --color-neutral-700: #383b42;
  --color-neutral-800: #252b37;
  --color-neutral-900: #1b1c21;
  --color-neutral-950: #141417;

  /* Primary (Accent) Palette */
  --color-primary-100: #a9f45d;
  --color-primary-200: #88dd0e;
  --color-primary-300: #3a6601;
  --color-primary-400: #305500;

  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --radius-none: 0rem; /* 0px */
  --radius-xxs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1.25rem; /* 20px */
  --radius-4xl: 1.5rem; /* 24px */
  --radius-full: 9999px; /* ∞ full radius */

  --spacing-none: 0rem; /* 0px */
  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.375rem; /* 6px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.25rem; /* 20px */
  --spacing-3xl: 1.5rem; /* 24px */
  --spacing-4xl: 2rem; /* 32px */
  --spacing-5xl: 2.5rem; /* 40px */
  --spacing-6xl: 3rem; /* 48px */
  --spacing-7xl: 4rem; /* 64px */
  --spacing-8xl: 5rem; /* 80px */
  --spacing-9xl: 6rem; /* 96px */
  --spacing-10xl: 8rem; /* 128px */
  --spacing-11xl: 8.75rem; /* 140px */
}

/* shacdn start */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* SHACDN */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: var(--color-black);
  --foreground: oklch(0.985 0 0);
  --card: var(--color-black);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--color-primary-200);
  --primary-foreground: var(--color-neutral-950);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-neutral-800);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: var(--color-neutral-800);
  --sidebar-ring: oklch(0.556 0 0);
}
/* end of shacdn */

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-redhat);
    @apply bg-background text-foreground;
  }
}

@utility shadow-button {
  box-shadow: 0px 4px 40px 0px #91ff0266;
  &:hover {
    box-shadow: 0px 8px 60px 0px #91ff0266;
  }
}

@utility base-container {
  margin: 0 auto;
  @apply max-w-302 px-4 py-10;
}

@utility content-container {
  @apply lg:gap-7xl md:gap-5xl flex items-center gap-10;
}

@utility content-header-center {
  @apply gap-md flex max-w-[74.35vw] flex-col justify-center text-center md:max-w-full;
}

@utility py-section {
  /* padding-top: 40px;
  padding-bottom: 40px; */
  @apply py-10 md:py-20;

  @variant lg {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@utility flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* Typography */
@utility title {
  @apply text-display-md-extrabold md:text-display-xl-extrabold lg:text-display-2xl-extrabold text-neutral-25;
}

@utility sub-title {
  @apply text-md-medium md:text-lg-medium lg:text-xl-medium text-primary;
}

@utility desc {
  @apply text-md-medium md:text-lg-medium lg:text-xl-medium text-neutral-400;
}

@utility form-label {
  @apply text-sm-semibold md:text-md-semibold text-neutral-25;
}

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}

.stripe-motion {
  animation: moveStripes 1s linear infinite;
}
